-----BEGIN CERTIFICATE-----
MIIGBzCCBO+gAwIBAgISA1OecTN5/xo6heqexS/c3EsNMA0GCSqGSIb3DQEBCwUA
MEoxCzAJBgNVBAYTAlVTMRYwFAYDVQQKEw1MZXQncyBFbmNyeXB0MSMwIQYDVQQD
ExpMZXQncyBFbmNyeXB0IEF1dGhvcml0eSBYMzAeFw0xODA4MjkwODIwNDNaFw0x
ODExMjcwODIwNDNaMBkxFzAVBgNVBAMMDioud2ViZXh0bGkuY29tMIIBIjANBgkq
hkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAwkiHEOomb35VUBWv00oJBj4rDBuSotHT
PK0NW4IKVxc87nt7f8iihipduF11oKtygZGVXOirEQM/Ej6yXr6wmfMjrh7vvEl7
3zkl68VnSYkVjj/7rLXXB7quZhIZcI+DZ0jRzbkShDadel7t0dkN4O6kNemX1Vjf
E419s9GccOqRcnXsbQdeV0WBkKAO66cC8k7EznS7ECFx15/Ci8rBecZiIWPdaLOg
d1f+Im910Li9rbHfR+dSa5MBJDo0uSpqeJ3JEIDjhl6Y8Wt3Udq6FFiIjDbT95IA
g+aQMjQMLkoqOAzLR0lZk5sUhoAYsHlblXSZKgo46Wy3LSThJYLGtwIDAQABo4ID
FjCCAxIwDgYDVR0PAQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEF
BQcDAjAMBgNVHRMBAf8EAjAAMB0GA1UdDgQWBBR6cicys42r4TrKGKW6h968RXyg
/zAfBgNVHSMEGDAWgBSoSmpjBH3duubRObemRWXv86jsoTBvBggrBgEFBQcBAQRj
MGEwLgYIKwYBBQUHMAGGImh0dHA6Ly9vY3NwLmludC14My5sZXRzZW5jcnlwdC5v
cmcwLwYIKwYBBQUHMAKGI2h0dHA6Ly9jZXJ0LmludC14My5sZXRzZW5jcnlwdC5v
cmcvMBkGA1UdEQQSMBCCDioud2ViZXh0bGkuY29tMIH+BgNVHSAEgfYwgfMwCAYG
Z4EMAQIBMIHmBgsrBgEEAYLfEwEBATCB1jAmBggrBgEFBQcCARYaaHR0cDovL2Nw
cy5sZXRzZW5jcnlwdC5vcmcwgasGCCsGAQUFBwICMIGeDIGbVGhpcyBDZXJ0aWZp
Y2F0ZSBtYXkgb25seSBiZSByZWxpZWQgdXBvbiBieSBSZWx5aW5nIFBhcnRpZXMg
YW5kIG9ubHkgaW4gYWNjb3JkYW5jZSB3aXRoIHRoZSBDZXJ0aWZpY2F0ZSBQb2xp
Y3kgZm91bmQgYXQgaHR0cHM6Ly9sZXRzZW5jcnlwdC5vcmcvcmVwb3NpdG9yeS8w
ggEEBgorBgEEAdZ5AgQCBIH1BIHyAPAAdgDBFkrgp3LS1DktyArBB3DU8MSb3pka
SEDB+gdRZPYzYAAAAWWE/CrsAAAEAwBHMEUCIQCn1hIO9tafcmlzvLg/oR9CSHzI
kR5MRnefKOArlglhzwIgZrDErFTVPX2dloXCslOK710/yYI3PZCpMCNgibgCmkUA
dgApPFGWVMg5ZbqqUPxYB9S3b79Yeily3KTDDPTlRUf0eAAAAWWE/CsEAAAEAwBH
MEUCIDNQnx8q8F7W8jQK5lD6+RYsFbk6w1svklCBnr3B+NHyAiEAhuELmvfvhN75
kmgESEGpghORO6aHT+Ceg3z/6+SBmOowDQYJKoZIhvcNAQELBQADggEBAJiOkiZB
Up0z6wgl5SAHVYJxzMX4lGsz4kKzP6/xvGdUrj8onG6CGVMCV2xtn3vi6tfqNtHn
Df6ojq6SnZ+pEwiWKkgmby//ZY9YkjrvFVxU7KB63auqb5lnzk2nJjLuXwoHIOTT
oaWKuQV1qqaxfWSNICUQ6fX7oQt9+PFV8dIXv9gI+kWitoOhynRzFgDq1IAC6i2z
CjboupEdyGeYpSCSYjOJLlzn1CqWYw/lkOHXNmwhLCxBxzinIjjg4zfOCgBsbuuv
qoH2r0gcVVpzBJB9qOgHQ2eEwtcXhlCHe8xx1IegOtjFBkrEFhyZo1v9AakQEUp3
xmNAHgDMrWMHUr8=
-----END CERTIFICATE-----
-----BEGIN PRIVATE KEY-----
MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQDCSIcQ6iZvflVQ
Fa/TSgkGPisMG5Ki0dM8rQ1bggpXFzzue3t/yKKGKl24XXWgq3KBkZVc6KsRAz8S
PrJevrCZ8yOuHu+8SXvfOSXrxWdJiRWOP/ustdcHuq5mEhlwj4NnSNHNuRKENp16
Xu3R2Q3g7qQ16ZfVWN8TjX2z0Zxw6pFydextB15XRYGQoA7rpwLyTsTOdLsQIXHX
n8KLysF5xmIhY91os6B3V/4ib3XQuL2tsd9H51JrkwEkOjS5Kmp4nckQgOOGXpjx
a3dR2roUWIiMNtP3kgCD5pAyNAwuSio4DMtHSVmTmxSGgBiweVuVdJkqCjjpbLct
JOElgsa3AgMBAAECggEAXbLK6R50MPtVu8zpwlYHaipbanh1zO6zGKVBNuvNftkn
OsD0+9jQgTI3hu4UB8wH6nNC/M79ibPuHCd+sPD4jRbVE2m6Jy2tfye5oS7QNIfX
jIZRI6eDMCgZagK6oC2mqw5UmQnz4y3P3y+fNMCgz+Vn7tRctLkqxOxNPocOEupF
K8gvutSNFmHwsCzTpTEKJZ1e+p0QcTeyb/xSd93LFW8w7ctz3/GKUi4DzUvQxyMW
tE1HtzRivP8dslQKlBfwM7RmQpq+0ozr9oTIFk25aWV6xu+y7ugei+jf0J8hIMxf
eyOqLPATfIl8Oh6raM7h8YGgPCosU9Bl826RdhLMwQKBgQD9DJm9WTleRY671Y3Z
3s3cSAyw9m7ABmaOiywWjd5et1d9uhltT7PSKyCDxoZ3Umt7GtWMY1eiv5bJJeOs
LGwkefbJL9S7uI1/ZLeRO6xVCOLDMxiGP7cxrgEOWh69OeFruAVBx6km6ivjx41F
8lQYsCWTiWjAnzI0RIj7/U8jlwKBgQDEjH/xZlYGAbN5rxJWmRnrdfKRe6Pzx1JC
/xiCNIckjcCB9Fsuom+RfTlREtDEm1j7NMDE7fCMWuLrIDyG2Qk9XycVuMx6HdNQ
nUa8vwpg7/aVXx/TzM7AlInZA8GLs4tmRsoPP5K3iWzql2p0ywmcmjKaYD6m/+0d
Xe8Ha7NZ4QKBgQD6hCv70cZCtxgMiunpBHPHHak61G1mO6/ydIOMPJ0mJdo/BStB
FcPPUJTbAIKExJrVgAZj+sF6xLPRpWoVPNE+92PDX0/7HEUxFpPI+0urz6U3XHFu
DswdKcev3rZJ3XB2hPLnYXPrq68RzK/mzHZHDrPUsRd8gt5f8m2vEuLzNwKBgQCv
a6aVUXzdh48jv7liSOr1WCPS7ML7xJ4K5Zp+O1uSqGF0mx72lEt3Uohhb6Wck/nq
2r5iBOt4mXWF3ROoVvUELXS40mLNauk7PePweaFNu14dGvVRF64/+1K8ubl4chqs
gem9ikPsQ19OUS3WZ5CAkK8xUU0Zx7ldSIUZ3moIgQKBgCk+shaxEA121wlHh/3F
RnSO+nSoSonIXFXOIDu4qrYKotgWuE++4T5ONnOZD512TpFNmekL00pvcvIsFBeY
AG3vc8D4uP37cDtp4bHYb1QoMC4m/5s8l4nT+ForwofEzmx8ExH4vHnyL1xAEpSp
bCNy6GN+hb33Gj0RsczXObIz
-----END PRIVATE KEY-----
-----BEGIN CERTIFICATE-----
MIIEkjCCA3qgAwIBAgIQCgFBQgAAAVOFc2oLheynCDANBgkqhkiG9w0BAQsFADA/
MSQwIgYDVQQKExtEaWdpdGFsIFNpZ25hdHVyZSBUcnVzdCBDby4xFzAVBgNVBAMT
DkRTVCBSb290IENBIFgzMB4XDTE2MDMxNzE2NDA0NloXDTIxMDMxNzE2NDA0Nlow
SjELMAkGA1UEBhMCVVMxFjAUBgNVBAoTDUxldCdzIEVuY3J5cHQxIzAhBgNVBAMT
GkxldCdzIEVuY3J5cHQgQXV0aG9yaXR5IFgzMIIBIjANBgkqhkiG9w0BAQEFAAOC
AQ8AMIIBCgKCAQEAnNMM8FrlLke3cl03g7NoYzDq1zUmGSXhvb418XCSL7e4S0EF
q6meNQhY7LEqxGiHC6PjdeTm86dicbp5gWAf15Gan/PQeGdxyGkOlZHP/uaZ6WA8
SMx+yk13EiSdRxta67nsHjcAHJyse6cF6s5K671B5TaYucv9bTyWaN8jKkKQDIZ0
Z8h/pZq4UmEUEz9l6YKHy9v6Dlb2honzhT+Xhq+w3Brvaw2VFn3EK6BlspkENnWA
a6xK8xuQSXgvopZPKiAlKQTGdMDQMc2PMTiVFrqoM7hD8bEfwzB/onkxEz0tNvjj
/PIzark5McWvxI0NHWQWM6r6hCm21AvA2H3DkwIDAQABo4IBfTCCAXkwEgYDVR0T
AQH/BAgwBgEB/wIBADAOBgNVHQ8BAf8EBAMCAYYwfwYIKwYBBQUHAQEEczBxMDIG
CCsGAQUFBzABhiZodHRwOi8vaXNyZy50cnVzdGlkLm9jc3AuaWRlbnRydXN0LmNv
bTA7BggrBgEFBQcwAoYvaHR0cDovL2FwcHMuaWRlbnRydXN0LmNvbS9yb290cy9k
c3Ryb290Y2F4My5wN2MwHwYDVR0jBBgwFoAUxKexpHsscfrb4UuQdf/EFWCFiRAw
VAYDVR0gBE0wSzAIBgZngQwBAgEwPwYLKwYBBAGC3xMBAQEwMDAuBggrBgEFBQcC
ARYiaHR0cDovL2Nwcy5yb290LXgxLmxldHNlbmNyeXB0Lm9yZzA8BgNVHR8ENTAz
MDGgL6AthitodHRwOi8vY3JsLmlkZW50cnVzdC5jb20vRFNUUk9PVENBWDNDUkwu
Y3JsMB0GA1UdDgQWBBSoSmpjBH3duubRObemRWXv86jsoTANBgkqhkiG9w0BAQsF
AAOCAQEA3TPXEfNjWDjdGBX7CVW+dla5cEilaUcne8IkCJLxWh9KEik3JHRRHGJo
uM2VcGfl96S8TihRzZvoroed6ti6WqEBmtzw3Wodatg+VyOeph4EYpr/1wXKtx8/
wApIvJSwtmVi4MFU5aMqrSDE6ea73Mj2tcMyo5jMd6jmeWUHK8so/joWUoHOUgwu
X4Po1QYz+3dszkDqMp4fklxBwXRsW10KXzPMTZ+sOPAveyxindmjkW8lGy+QsRlG
PfZ+G6Z6h7mjem0Y+iWlkYcV4PIWL1iwBi8saCbGS5jN2p8M+X+Q7UNKEkROb3N6
KOqkqm57TH2H3eDJAkSnh6/DNFu0Qg==
-----END CERTIFICATE-----
